<div class="wrap">
    <div class="sixteen column">
        <% if (success) { %>
            <div class="ui success message">
                <p><%= success %></p>
            </div>
        <% } %>

        <% if (error) { %>
            <div class="ui error message">
                <p><%= error %></p>
            </div>
        <% } %>
    </div>
</div>
 <br>
