<%- include('header') %>

<div class="wrap">
<h3>关于JsNav</h3>

<p>使用Express+mongoDB搭建的多人blog系统</p>

<p>因为做前端所以经常接触到Node，出于兴趣动手边学边做了一个简单的blog网站，纯属学习使用。代码已开源，欢迎star。</p>

<p><a href="https://github.com/AnsonZnl/jsnav">GitHub项目地址</a></p>

<p>联系我：1160030724@qq.com</p>
</div>

<%- include('footer') %>
