<div class="copyright">
<p>Copyright @  冀ICP备18016811号-3</p>
<p>种一棵树最好的时间在十年前，其次是现在。</p>


</div>
<script type="text/javascript">
    $(document).ready(function () {
        // 点击按钮弹出下拉框
        $('.ui.dropdown').dropdown();

        // 鼠标悬浮在头像上，弹出气泡提示框
        $('.avatar-link').popup({
            inline: true,
            position: 'bottom right',
            lastResort: 'bottom right'
        });
        //登出
        $("#logout").click(function () {
            $.ajax({
                url: 'http://localhost:3000/logout',
                type: 'get',
                success: function (r) {
                    location.href = '/blog'
                }
            })
        })
    })
        //删除文章
     $(function () {
        $(".del").on('click', function () {
            var blogId = $(this).attr('data-id')
            $.ajax({
                url: 'http://localhost:3000/blog/' + blogId + '/remove',
                type: 'get',
                success: function (r) {
                    console.log(3, r)
                    location.href = '/blog/' + r.blogId
                }
            })
        })
    })
</script>
</body>
</html>
