<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= blog.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/semantic.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link href="https:////at.alicdn.com/t/font_1219104_zteyb0a4ahq.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/semantic.js"></script>
</head>
<body>
<%- include('components/nav') %>
 <div class="navHide">
    <%- include('components/nav-setting') %>
 </div>
<%- include('components/notification') %>
