<%- include('header') %>
<div class="wrap">
<div class="ui grid">
    <div class="sixteen wide column">
        <form class="ui form segment" enctype="multipart/form-data">
            <div class="field required">
                <label>用户名</label>
                <input id="login-name" placeholder="用户名" type="text" name="name">
            </div>
            <div class="field required">
                <label>密码</label>
                <input id="login-password" placeholder="密码" type="password" name="password">
            </div>
            <div class="field required">
                <label>重复密码</label>
                <input id="login-repassword" placeholder="重复密码" type="password" name="repassword">
            </div>
            <div class="field required">
                <label>性别</label>
                <select id="login-gender" class="ui compact selection dropdown" name="gender">
                    <option value="m">男</option>
                    <option value="f">女</option>
                    <option value="x">保密</option>
                </select>
            </div>
            <div class="field">
                <label>头像</label>
                <input id="file" type="file" accept="image/*" name="avatar">
            </div>
            <div class="field required">
                <label>个人简介</label>
                <textarea id="bio" name="bio" rows="5" placeholder="30字以内"></textarea>
            </div>
            <input onclick="login()" id="submit" type="button" class="ui button fluid" value="注册">
        </form>
    </div>
</div>
</div>
<%- include('footer') %>
<script>
    
</script>
