/* ---------- 全局样式 ---------- */

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: 70px;
  }
  .wrap{
    padding:0 6%;
  }
  .content{
    display: flex;
  }
  .auto{
      margin: auto;
  }
  h3 a{
    display: block;
    color: #333!important;
    font-size: 1.1rem;
  }
  a{
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  
  .button {
    background-color: #4fc08d !important;
    color: #fff !important;
  }
  
  .avatar {
    border-radius: 3px;
    width: 25px;
    height: 25px;
  }
.blog-content-hide{
  font-size: 18px;
  }
  .content-hide h3{
    margin:5px 0;  
    line-height: auto;

  }
  
  /* ---------- nav ---------- */
  
  .nav {
    width: 100%;
    margin-bottom: 20px;
    color: #999;
    /* margin: auto; */
    position: fixed;
    top: 0;
    z-index: 999;
    background: #FFF;
    border-bottom: solid 1px #ddd;
  }
  .nav .logo{
    flex-grow: 1;
  }
  .logo .go-home{
    display: inline-block;
    height: 52px;
    padding:0 5px;
    margin-left: 10%;
    line-height: 52px;
    font-size: 20px;
    color: #4fc08d;
  }
  .nav .menu{
    flex-grow: 1;
    margin: auto;
    padding-right: 30px;
  }
  .nav h1 {
    color: #4fc08d;
    margin: 10px 0;
  }
/* baner */
.banner{
    margin: auto;
    text-align: center;
}
/* ---------- nav-setting ---------- */
  .navHide{
    display: none;
    }
    .menu{
        display: block;
    }
    .menu a{
        float: right;
        height: 55px;
        line-height: 55px;
        padding-left: 15px;
        padding-right: 15px;
        color: #333;
    }
    .menu a:hover{
        color: #4fc08d;
    }
  .nav-setting {
    position: fixed;
    right: 30px;
    top: 35px;
    z-index: 999;
  }
  
  .nav-setting .ui.dropdown.button {
    padding: 10px 10px 0 10px;
    background-color: #fff !important;
  }
  
  .nav-setting .icon.bars {
    color: #000;
    font-size: 18px;
  }
  
  /* ---------- post-content ---------- */
  
  .post-content{
      margin: 0 auto;
  }

  .post-content h3 a {
    color: #4fc08d !important;
    font-size: 1rem;
  }
  
  .post-content .tag {
    font-size: 13px;
    margin-right: 5px;
    color: #999;
  }
  
  .post-content .tag.right {
    float: right;
    margin-right: 0;
  }
  
  .post-content .tag.right a {
    color: #999;
  }
.content-hide{
  margin-bottom: 10px;
  border-bottom:1px solid #f2f2f2;
  overflow: hidden;
}
/* footer */
.copyright{
  padding: 20px 0;
  text-align: center;
}
  /* 媒体查询 */

@media only screen and (max-width: 600px) {
    .ui.column.grid>[class*="eight wide"].column, .ui.grid>.column.row>[class*="eight wide"].column, .ui.grid>.row>[class*="eight wide"].column, .ui.grid>[class*="eight wide"].column {
        width: 75%!important;
    }
    .ui.column.grid>[class*="four wide"].column, .ui.grid>.column.row>[class*="four wide"].column, .ui.grid>.row>[class*="four wide"].column, .ui.grid>[class*="four wide"].column {
        width: 20%!important;
    }
    .navHide{
        display: block;
    }
    .menu{
        display: none;
    }
    .nav-setting {
        top: 14px;
    }
    /* .ui.column.grid>[class*="four wide"].column, .ui.grid>.column.row>[class*="four wide"].column, .ui.grid>.row>[class*="four wide"].column, .ui.grid>[class*="four wide"].column {
        width: 13%!important;
    } */
}
