<script type="text/javascript">
    $(document).ready(function () {
        // 点击按钮弹出下拉框
        $('.ui.dropdown').dropdown();

        // 鼠标悬浮在头像上，弹出气泡提示框
        $('.avatar-link').popup({
            inline: true,
            position: 'bottom right',
            lastResort: 'bottom right'
        });
        //登出
        $("#logout").click(function () {
            $.ajax({
                url: 'http://localhost:3000/logout',
                type: 'get',
                success: function (r) {
                    location.href = '/blog'
                }
            })
        })
    })
</script>
</body>
</html>
